<div class="container">
	<div class="text-center">
		<h2>Total time spent today: <span class="label label-success">{{ totalTime("today") }}</span> hours</h2>
	</div>
	<br/>
	<div id="activity-form" class="row">
		<div class="col-sm-8 col-sm-offset-2 text-center">
			<form>
				<div class="form-group row ">
					<input type="text" class="input-lg " placeholder="Activity" ng-model="formData.activityName">
					
					<input type="number" class="input-lg" placeholder="Time" ng-model="formData.activityTime">
					
					<button type="submit" class="btn btn-success btn-md " ng-click="createActivity()">Add</button>
				</div>

				
			</form>
		</div>
	</div>

	<div id="activity-list" class="row">
		<div class="col-sm-6 col-sm-offset-3">

		<table class="table table-striped">
			<tr>
				<th>Activity</th>
				<th>Time</th>
				<th>Actions</th>
			</tr>
			<tr ng-repeat="activity in activities">
				<td ng-if="editId !== activity._id">{{activity.activityName}}</td>
				<td ng-if="editId === activity._id"><input class="form-control" type="text"  ng-model="activity.activityName"/></td>
				<td ng-if="editId !== activity._id">{{activity.activityTime}}</td>
				<td ng-if="editId === activity._id"><input class="form-control" type="number"  ng-model="activity.activityTime"/></td>
				<td>
					<span class="glyphicon glyphicon-pencil btn btn-default" ng-if="editId !== activity._id" ng-click="editActivity(activity._id)" aria-hidden="true"></span>
					<span class="glyphicon glyphicon-ok btn btn-default label-success" ng-if="editId === activity._id" ng-click="completeEdit(activity)" aria-hidden="true"></span>
					<span class="glyphicon glyphicon-remove btn btn-default" ng-if="editId !== activity._id" ng-click="deleteActivity(activity._id)" aria-hidden="true"></span>
					<span class="glyphicon glyphicon-remove btn btn-default label-danger" ng-if="editId === activity._id" ng-click="cancelEdit()" aria-hidden="true"></span>

				</td>
			</tr>
			<tr ng-if="!activities || activities.length <1">
				<th colspan="3">No activities to show for today. Add the activities that you completed</th>
			</tr>
		</table>

		</div>
	</div>
</div>